/* Universal Styles */
html {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
}

body{
  line-height: 1.4;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1;
  padding-bottom: 1rem;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1;
}

h3 {
  font-size: 1.5rem;
}

@media only screen and (max-width: 1160px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.7rem;
  }
}

.col-a {
  width: 60%;
  padding: 2rem 1.5rem;
  overflow: hidden;
}

.col-a img {
  width: 100%;
  height: auto;
}

.col-b {
  width: 40%;
  padding: 2rem 1.5rem;
  overflow: hidden;
}

.col-b img {
  width: 100%;
  height: auto;
}

/*Menu*/

.menu {
  display: flex;
  align-items: center;
  height: 4rem;
  position: fixed;
  z-index: 100;
  background-color: white;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 1.5rem;
  font-size: 1.5rem;
}

.logo img {
  height: 3rem;
}

.menu span {
  font-weight: bold;
}

nav {
  padding-right: 1.5rem;
}


nav ul {
  display: flex;
}

nav ul li {
  padding-left: 1rem;
}

nav.mobile {
  display: none;
}

main {
  position: relative;
  top: 4rem;
}

@media only screen and (max-width: 720px) {

  .desktop, .logo {
    display: none;
  }

  nav.mobile {
    display: block;
    width: 100%;
    padding: 0;
  }

  nav.mobile ul {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem 0 1.5rem;
  }

  nav.mobile li {
    padding: 0;
  }

  nav.mobile img {
   height: 2rem;
  }

}

/*Header-Section*/


header {
  display: flex;
  align-items: center;
  background-color: #dbf0ff;
}

.login {
  font-size: 1.15rem;
  padding-right: 8rem;
}

.button {
  background-color: #0797ff;
  text-align: center;
  padding: 0.5rem;
  margin-top: 1rem;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

.button a {
  color: white;
}

.button:hover{
  background-color: #143368;
}

@media only screen and (max-width: 1160px) {

  .login {
    padding-right: 0;
  }

  .col-a, .col-b {
    width: 50%;
  }

}


@media only screen and (max-width: 720px){

  header {
    display: flex;
    flex-wrap: wrap;
    }

  header .col-a {
    padding: 0;
  }

  .col-a, .col-b {
    width: 100%;
  }
}

/*Informations*/

.informations {
  display: flex;
}

.description h2 {
  padding: 2rem 0 1.5rem 0;
}

.informations .col-a p {
  margin-bottom: 2rem;
  font-size: 1.15rem;
}

.info-box {
  display: flex;
  align-items: center;
  margin-bottom: 0.25rem;
  border: solid #dbf0ff 0.5px;
  transition: background-color 0.2s ease-out;
}

.info-box:hover {
  background-color: #dbf0ff;
}

.info-img {
  width: 35%;
  padding: 1rem 2rem 1rem 1rem;
}

.info-img .mobile {
  display: none;
}

.info-img img {
  max-width: 100%;
  height: auto;
}

.info-detail {
  width: 65%;
}

.info-detail h3,
.info-detail p,
.info-detail a {
  padding: 0.5rem 0;
}

.info-detail a {
  color: #0797ff;
  font-weight: bold;
  transition-property: color;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

.info-detail a:hover {
  color: #143368;
}

@media only screen and (max-width: 720px) {

  .informations {
    flex-wrap: wrap;
  }

  .informations .col-a {
    display: none;
  }

  .info-box {
    flex-wrap: wrap;
    border: 0;
  }

  .info-img .desktop{
    display: none;
  }

  .info-img .mobile{
    display: block;
  }

  .info-img {
    width: 100%;
    padding: 0 0 1rem 0;
  }

  .info-img img {
    height: 100%;
  }

  .info-detail {
    width: 100%;
    padding: 0 0.5rem;
    margin-bottom: 1rem;
  }

}


/*Courses*/

.container {
  background-color: #dbf0ff;
}

.container h2 {
  text-align: center;
  padding-top: 2rem;
}

.courses-desktop {
  display: flex;
  justify-content: center;
  align-times: center;
  flex-wrap: wrap;
  padding: 1rem 4.5rem;
}

.courses-mobile {
  display: none;
}

.course-box {
  background-color: white;
  width: 25%;
  margin: 1rem;
  transition: background-color 0.2s ease-out;
}

.course-box:hover{
  background-color: #143368;
}

.course-box img {
  max-width: 100%;
  height: auto;
}

.course-box span,
.course-box h3 {
  margin: 0.5rem 1rem;
}

.course-box p {
  margin: 0.5rem 1rem 1rem 1rem;
}

.course-box span {
  display: block;
  color: #0797ff;
}

@media only screen and (max-width: 1160px) {

  .courses-desktop {
    padding: 1rem;
  }

  .course-box {
    width: 40%;
    margin: 1rem;
  }
}


@media only screen and (max-width: 720px) {

  .courses-desktop {
    display: none;
  }

  .courses-mobile {
    display: block;
    padding: 2rem 0;
  }

  .container {
    margin-bottom: 2rem;
  }

  .course-box-mobile {
    display: flex;
    align-items: center;
    background-color: #0797ff;
    height: 3.5rem;
    margin: 0.25rem 0.5rem;
    transition: background-color 0.2s ease-out;
  }

  .course-box-mobile:hover{
    background-color: #143368;
  }

  .course-box-mobile h3 {
    color: white;
    padding-left: 1rem;
  }


}


/*Thesis exhibit*/

.thesis h2{
  display: inline-block;
}

.thesis {
  display: flex;
  margin-bottom: 4rem;
}

video {
  width: 100%;
  height: auto;
}

.container-thesis h2 {
  text-align: center;
  padding-top: 3rem;
}

@media only screen and (max-width: 720px) {

  .thesis .col-b {
    display: none;
  }
}


/*Footer*/

footer {
  display: flex;
  align-items: center;
  border-top: solid black 1px;
  background-color: #0797ff;
}

.copyright {
  flex-grow: 1;
  padding: 2rem 1.5rem
}

.terms-privacy li {
  display: inline;
  padding: 0 0.75rem;
}
